.tweet__project {
    width: 100%;
    height: 100%;
    position: relative;
}

.admin-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "middle";
}

.left__container {
    display: none;
    grid-area: left;
}

.main__container {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    grid-area: middle;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding-bottom: 3.25rem;
}

.tweet__input {
    display: none;
}

.admin-user__container {
    width: 100%;
    height: auto;
    padding: 1rem;
}


.footer__controller {
    background-color: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    height: 3.25rem;
    bottom: 0;
    z-index: 1;
}

// AdminUser
.admin-user {
    &__container {
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}

@media screen and (min-width: 600px) {
    .admin-container {
        grid-template-columns: 6.75rem 1fr;
        grid-template-areas: "left middle";
    }

    .left__container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .footer__controller {
        display: none;
    }

    .tweet__input {
        display: block;
    }

    // AdminUser
    .admin-user {
        .main__container {
            width: 100%;
        }

        &__container {
            // border: 1px solid black;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.5625rem, 1fr));
            grid-gap: 1rem;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
    }
}


@media screen and (min-width: 900px) {
    .admin-container {
        grid-template-columns: 6.75rem 1fr;
    }

    .side-bar__panel {
        width: 100%;
        height: 25rem;
    }
}

@media screen and (min-width: 992px) {
    .admin-container {
        grid-template-columns: 1fr 12.5rem 48rem 1fr;
        grid-template-areas: ". left middle .";
    }

    // AdminUser
    .admin-user {
        grid-template-areas: ". left middle middle";
    }
}

@media screen and (min-width: 1200px) {
    .admin-container {
        grid-template-columns: 1fr 12.5rem 58.5625rem 1fr;
    }

    // AdminUser
    .admin-user {
        grid-template-areas: ". left middle middle";
    }
}