.prim-button {
    height: 2rem;
    border-radius: 16px;

    &__followed {
        color: var(--white);
        width: 5rem;
        background-color: var(--main-color);
    }
    &__unfollowed {
        color: var(--main-color);
        width: 3rem;
        border: 1px solid var(--main-color);
        background-color: var(--white);
    }
}


@media screen and (min-width: 600px) {
    .prim-button {
        height: 2.5rem;
        border-radius: 20px;

        &__followed {
            width: 6rem;
        }
    
        &__unfollowed {
            width: 4rem;
        }
    }
}