.header {
    height: 4.6875rem;
    width: 100%;
    display: grid;
    border-bottom: 1px solid var(--border-color);
}

.main__header {
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon word";
    padding-left: 1.5rem;
    
    &--icon {
        grid-area: icon;
        display: flex;
        align-items: center;
        &-avatar {
            width: 3.125rem;
            height: 3.125rem;
            object-fit: cover;
            border-radius: 25px;
            margin-right: 1rem;
        }
        &-back {
            width: 1.0625rem;
            height: 0.875rem;
            margin-right: 0.5rem;
        }
    }
    &--word {
        grid-area: word;
        line-height: 4.6875rem;
        color: var(--title-main-color);
    }
}

.user__header {
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon word";
    padding-left: 1.5rem;
    align-content: center;

    &--icon {
        grid-area: icon;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 1.0625rem;
            height: 0.875rem;
            margin-right: 1rem;
        }
    }

    &--word {
        grid-area: word;
        height: 2.625rem;
        :nth-child(2) {
            color: var(--title-second-color);
            font-size: 0.8125rem;
            font-weight: var(--medium-weight);
        }
    }
}

@media screen and (min-width: 600px) {
    .main__header--icon-avatar {
        display: none;
    }
}
