.tweet-detail {
    width: 100%;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--border-color);

    &__user {
        width: 100%;
        height: 3.125rem;
        display: flex;
        margin-bottom: 0.5rem;
        &--name {
            height: 100%;
            flex: 1;
            line-height: 1.5625rem;
            font-weight: var(--medium-weight);
            display: flex;
            flex-direction: column;
            :nth-child(2) {
                color: var(--main-second-color);
                font-size: var(--second-size);
                font-weight: var(--regular-weight);
            }
        }
    }
    &__content {
        font-weight: var(--regular-weight);
    }
    &__time {
        color: var(--main-second-color);
        border-bottom: 1px solid var(--border-color);
        line-height: 1.375rem;
        padding: 0.5rem 0;
        font-size: var(--second-size);
    }
    &__info {
        display: flex;
        height: 3.75rem;
        padding: 1rem;
        border-bottom: 1px solid var(--border-color);
        line-height: 1.75rem;
        font-size: 1.1875rem;
        &--reply, &--like {
            margin-right: 1.5rem;
            font-weight: var(--bold-weight);
            :nth-child(2) {
                color: var(--main-second-color);
                font-weight: var(--medium-weight);
            }
        }
    }
    &__icons {
        width: 5.5rem;
        height: 1.875rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        
        

        img {
            transition: 0.2s ease-out;
            &:hover {
                transform: scale(1.2, 1.2);
            }
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
        }
    }

}

.tweet-detail__input {
    width: 100%;
    height: 5.25rem;
}

@media screen and (min-width: 600px) {
    .tweet-detail__input {
        display: none;
    }
    .tweet-detail__content {
        font-size: var(--h4-size);
    }
}

@media screen and (min-width: 900px) {
    .tweet-detail {
        &__info {
            padding: 1rem 0;
        }
        &__icons {
            width: 11.75rem;
        }
    }
}