.tweet__input {
  display: none;
}

@media screen and (min-width: 600px) {

  .tweet__input {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 0.625rem; // 輸入框與推文有間隙
    display: flex;
    width: 100%;
    height: 8.5rem;
    border-bottom: 0.625rem solid var(--border-color);

    &--avatar {
      height: 100%;
      padding-right: 0.5rem;
      display: flex;
      justify-content: flex-end;

      img {
        object-fit: cover;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 25px;
      }
    }

    &--content {
      // border: 1px solid black;
      width: 29.5rem;
      color: var(--main-second-color);
      padding: 0.75rem 0.5rem 0 0;
    }

    &--button {
      background-color: var(--main-color);
      border-radius: 50px;
      width: 4rem;
      height: 2.5rem;
      color: var(--white);

      &__container {
        display: flex;
        align-items: flex-end;
      }
      &-dis {
        background-color: var(--text-placeholder-color);
      }
    }
  }
}
