.recommend__panel {
    display: none;
}
@media screen and (min-width: 900px) {
    .recommend__panel {
        h1 {
            height: 4.625rem;
            line-height: 4.625rem;
            padding-left: 1.5rem;
            border-bottom: 1px solid black;
        }
        display: block;
        width: 100%;
        height: 35rem;
        background-color: rgb(222, 222, 222);
        border-radius: 1rem;
        // margin-top: 1.5rem;
        // margin-left: 1.5rem;
    }

    .recommend__user {
        width: 100%;
        height: 5.125rem;
        border: solid grey 1px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        &--avatar {
            img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 1.5625rem;
                margin-right: 0.5rem;
            }
        }
        &--info {
            flex: 1;
            p {
                font-weight: 700;
            }
            span {
                color: gray;
                font-size: 0.75rem;
            }
        }

        &--button {
            &-unfollowed {
                color: orange;
                height: 2.5rem;
                width: 4rem;
                border: 1px solid orange;
                border-radius: 1.25rem;
                background-color: white;
            }
            &-followed {
                color: white;
                width: 6rem;
                height: 2.5rem;
                border-radius: 1.25rem;
                background-color: orange;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .recommend__panel {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .recommend__panel {
        width: 100%rem;
        margin-top: 1rem;
    }
}