.reply__container {
    display: flex;
    width: 100%;
    border-bottom: solid 1px var(--border-color);
    padding: 1rem 1.5rem;
}

.tweet__target {
    margin-bottom: 0.5rem;
    &--prim {
        padding-left: 0.5rem;
        color: var(--main-color);
        font-size: var(--second-size);
        font-weight: var(--regular-weight);
    }
    
    &--sec {
        color: var(--main-second-color);
        font-size: var(--second-size);
        font-weight: var(--regular-weight);
    }
}