// <template>
//   <div class="setting-form">
//     <!-- 輸入表格 -->
//     <form  class="form form_container">
//       <div class="form_input">
//         <div class="form_input_container">
//           <label for="account">帳號</label>
//           <input
//             id="account"
//             name="account"
//             type="account"
//             placeholder="請輸入帳號"
//             autocomplete="username"
//             required
//             autofocus
//           />
//         </div>
//       </div>

//       <div class="form_input">
//         <div class="form_input_container">
//           <label for="name">名稱</label>
//           <input
//             id="name"
//             name="name"
//             type="name"
//             placeholder="請輸入使用者名稱"
//             autocomplete="name"
//             required
//             autofocus
//           />
//         </div>
//       </div>

//       <div class="form_input">
//         <div class="form_input_container">
//           <label for="email">Email</label>
//           <input
//             id="email"
//             name="email"
//             type="email"
//             placeholder="請輸入Email"
//             autocomplete="email"
//             required
//             autofocus
//           />
//         </div>
//       </div>

//       <div class="form_input">
//         <div class="form_input_container">
//           <label for="password">密碼</label>
//           <input
//             id="password"
//             name="password"
//             type="password"
//             placeholder="請輸入密碼"
//             autocomplete="current-password"
//             required
//             autofocus
//           />
//         </div>
//       </div>

//       <div class="form_input">
//         <div class="form_input_container">
//           <label for="passwordCheck">密碼確認</label>
//           <input
//             id="passwordCheck"
//             name="checkPassword"
//             type="password"
//             placeholder="請再次輸入密碼"
//             autocomplete="current-password"
//             required
//             autofocus
//           />
//         </div>
//       </div>

//       <!-- button們 -->
//       <div class="form_button_container">
//         <button class="form_button" type="submit">儲存</button>
//         <div class="form_links">
//           <router-link to="" class="form_links--link">登出</router-link>
//         </div>
//       </div>
//     </form>
//   </div>
// </template>


.setting-form {
  margin-top: 1rem;

  .form {
    &_container{
      width: 87.2%;
    }
    &_button {
      width: 5.5rem;
      height: 2.875rem;

      &_container {
        text-align: right;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .setting-form {
    .form {
      &_container {
        width: 92.8%;
      }
    }
  }
}