.sign-form {
  .form {
    &__container {
      width: 87.2%;
      max-width: 22.25rem; //最大寬度跟平板畫面一樣
      margin: 0 auto;
    }

    &__button__container {
      margin-top: 0.5rem;
      width: 100%;
      max-width: 22.25rem; //最大寬度跟平板畫面一樣
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media screen and (min-width: 992px) {
  .sign-form {
    .form {
      &__container {
        width: 22.25rem;
        margin: 0 auto;
      }
    }
  }
}