.alert {
  &__container {
    width: 23.125rem;
    height: 4.5rem;
    margin: 0;
    display: flex;
    padding: 0 0.75rem;
    align-items: center;
    justify-content: space-between;
    font-size: var(--h5-size);
    font-weight: var(--bold-weight);

  }

  &-photo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;

    &__error {
      background-image: url('./assets/images/alert-error.svg');
    }

    &__succeed {
      background-image: url('./assets/images/alert-succeed.svg');
    }

    &__container {
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &__error {
        border: 0.175rem solid var(--alert-error);
      }

      &__succeed {
        border: 0.175rem solid var(--alert-succeed);
      }
    }


  }
}