.follow-user {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: solid 1px var(--border-color);
    padding: 1rem 1.5rem;
    &:hover {
        background-color: var(--top-user-background-color);
    }

    &__info {
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        font-weight: var(--medium-weight);
    }
    &__description {
        font-weight: var(--regular-weight);
    }
}

